/* -- VARIABLES -- */
:root {
    /* Colours */
    --primary: #F2F2F2;
    --primary25: #f2f2f21c;
    --primary50: #F2F2F221;
    --primary75: #F2F2F2be;
    --primaryLight: #cacaca;

    --secondary: #ff4f55;
    --secondary25: #ff4f5518;
    --secondary50: #ff4f5533;
    --secondary75: #ff4f55be;
    --secondaryLight: #fd6b70;

    --tertiary: #1a1a25;
    --tertiary25: #1a1a250e;
    --tertiary50: #1a1a2521;
    --tertiary75: #1a1a25be;
    --tertiaryLight: #202020;

    /* Misc */
    --cornerRounding: 5px;
    --transitionDuration: 0.1s;
}
@media (prefers-color-scheme: dark) {
    :root {        
        --primary: #1a1a25;
        --primary25: #1a1a250e;
        --primary50: #1a1a2521;
        --primary75: #1a1a25be;
        --primaryLight: #303030;
    
        --tertiary: #F2F2F2;
        --tertiary25: #f2f2f21c;
        --tertiary50: #f2f2f236;
        --tertiary75: #f2f2f2be; 
        --tertiaryLight: #cacaca;
    }
}

/* -- FONTS -- */

/* Static font */
@font-face {
    font-family: "Header";
    src: url("../content/fonts/Metropolis-ExtraBold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Header";
    src: url("../content/fonts/Metropolis-ExtraBoldItalic.ttf");
    font-weight: normal;
    font-style: italic;
}

/* A variable font */
@font-face {
    font-family: "Paragraph";
    src: url("../content/fonts/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: 400 900;
    font-style: oblique 0deg 10deg;
}

/* Monospace font */
@font-face {
    font-family: "Monospace";
    src: url("../content/fonts/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Monospace";
    src: url("../content/fonts/JetBrainsMono-ExtraBold.ttf");
    font-weight: bold;
    font-style: normal;
}